/* Without this, the dnd sidebar shows up behind panels modals. */
.dnd-library-wrapper {
  z-index: 1002 !important;
}

#modalContent div.ctools-modal-content.ctools-sample-modal-content {
  background-color: transparent;
  border: 1px solid #000;
}

.ctools-sample-modal-content #ctools-face-table {
  margin: 0;
}

.ctools-sample-modal-content #ctools-face-table div.modal-header {
  background: none;
  background-color: #ff7200;
}

.ctools-sample-modal-content #ctools-face-table #modal-title {
  color: white;
  font-size: 120%;
  font-weight: bold;
  text-shadow: none;
}
